#logo {
    width: 4.5rem;
    height: auto;
}
footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    width: 5.5rem;
    height: auto;
}
.logo img {
    width: 100%;
}